﻿<form name="addForm">
    <div class="form-group" ng-class="{'has-error': addForm.name.$error.required}">
        <label for="name">Name</label>
        <input required type="text" class="form-control" name="name" id="name" placeholder="Enter Name" ng-model="contact.Name">
    </div>
    <div class="form-group" ng-class="{'has-error': addForm.surname.$error.required}">
        <label for="surname">Surname</label>
        <input required type="text" class="form-control" name="surname" id="surname" placeholder="Enter Surname" ng-model="contact.Surname">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" placeholder="Enter Address" ng-model="contact.Address">
    </div>
    <button type="submit" class="btn btn-default" ng-show="!contact.Id" ng-click="addContact(addForm, contact)">Add</button>
    <button type="submit" class="btn btn-default" ng-show="contact.Id" ng-click="updateContact(addForm, contact)">Update</button>
</form>
