﻿<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Address</th>
                    <th>Tags</th>
                    <th>Infos</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td><input ng-model="showFavorites" type="checkbox" /> Show Favs</td>
                    <td><input ng-model-options="{debounce: 500}" ng-model="filter.name" type="text" class="form-control" placeholder="Search..."></td>
                    <td><input ng-model-options="{debounce: 500}" ng-model="filter.surname" type="text" class="form-control" placeholder="Search..."></td>
                    <td></td>
                    <td><input ng-model-options="{debounce: 500}" ng-model="filter.tagname" type="text" class="form-control" placeholder="Search..."></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr data-ng-repeat="contact in contacts" ng-hide="showFavorites && !contact.Favorite">
                    <td class="favorite-cell">
                        <span class="glyphicon"
                              ng-click="favorite(contact.Id, contact.Favorite, $index)"
                              ng-class="{'glyphicon-star': contact.Favorite, 'glyphicon-star-empty': !contact.Favorite}"
                              aria-hidden="true"></span>
                    </td>
                    <td>{{contact.Name}}</td>
                    <td>{{contact.Surname}}</td>
                    <td>{{contact.Address}}</td>
                    <td class="tag-cell">
                        <tagger tags="contact.Tags"
                                contactid="contact.Id">
                        </tagger>
                    </td>
                    <td>
                        <button class="btn btn-default btn-xs"
                                ng-click="seeInformations(contact.ContactInformations, contact.Id)">
                            {{contact.ContactInformations.length}} Entries
                        </button>
                    </td>
                    <td class="action-cell">
                        <button ng-click="deleteContact(contact.Id, $index)" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                        </button>
                        <button ng-click="goToEditPage(contact.Id)" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>