﻿<div class="modal-header">
    <h3 class="modal-title">Contact Informations</h3>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <thead ng-show="contactInfos.length > 0">
            <tr>
                <th>Type</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select class="form-control"
                            ng-init="contactInfo.Type = options[0].id"
                            ng-model="contactInfo.Type"
                            ng-options="option.id as option.name for option in options"></select>
                </td>
                <td>
                    <input ng-model="contactInfo.Value" type="text"
                           class="form-control" placeholder="Value...">
                </td>
                <td>
                    <button ng-click="add()" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
                    </button>
                </td>
            </tr>
            <tr data-ng-repeat="contactInfo in contactInfos">
                <td>{{contactInfo.Type | contactTypeToText:true}}</td>
                <td>{{contactInfo.Value}}</td>
                <td>
                    <button ng-click="remove(contactInfo.Id, $index)"
                            class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
