﻿<div>
    <span class="label label-default"
          ng-repeat="(idx, tag) in tags track by $index"
          ng-click="remove(idx)">{{tag.TagName}}</span>
    <input class="form-control input-sm"
           ng-keypress="onKeyPress($event)"
           type="text"
           placeholder="Add a tag..."
           ng-model="new_value" />
</div>
